.row
	.col-md-12
		%h1
			Client Profile
			%hr

			%h2
				#{@client}

				
				%h4
					#{number_to_currency(@client.account.balance, unit: 'R ')}
				
				%hr
					.btn-toolbar
						= link_to root_path, class: 'btn btn-default' do
							Home
						=link_to client_account_path(@client.id, @client.account.id), class: 'btn btn-primary' do
							Account







	