%canvas{:id => "nokey", :width => "100%", :height => "100%"} 
    

%h1 
	GALXYBIT 

.row
	.col-md-12
		%h2
		Number of Clients: #{number_of_clients} 


%hr

.row
	.col-md-12
		= link_to clients_path do
			Clients
		%hr
		= link_to new_client_path do
			New Client
		

= javascript_include_tag 'pages/Particles.js'
:javascript
	$(document).ready(function() {
		Particles.init();
	});	



