

<div class="jumbotron jumbotron-billboard" >
  <div class="img"></div>
    <div class="container" style="margin-top: 50px">
        <div class="row">
            <div class="col-lg-12" style=" text-align: center; height: 150%">
                <h1>Money<i style= "color: rgb(255, 180, 0)">Calls</i></h1>
					<p><i>Network Marketing Meets Forex</i></p>
            </div>
        </div>
    </div>
</div>



<div class="container-fluid" style="padding: 100px; margin-top: -50px">
	<div class="row">
		<div class="col-sm-8">
			<h2 style= "color: rgb(255, 160, 0)">MoneyCalls</h2>
			<h4>A New Type of Network </h4>      
			<p>
				Network marketing is a business model that relies on a network of distributors to grow a business.</br>
				It is a type of business opportunity that is very popular with people looking for part-time, flexible businesses.
			</p>
		</div>
		<div class="col-sm-4">
			<div class="glyphicon glyphicon-user logo slideanim slide" style="margin-top: 40px; text-align: center">		
			</div>
		</div>
	</div>
</div>

<div class="parallax"></div>

<div class=" container container-fluid" style="padding: 50px; text-align: center">
	<h1 style= "color: rgb(255, 160, 0)"> How it Works </h1>
	<hr>
	<p style="font-size: 15px"> 
		You do some form of word of mouth marketing every day. Don’t you recommend products or services that you like?</br>
	 	I bet you told all your friends about the last movie you saw or great pair of shoes you purchased.</br>
	</p>

 	<p style="font-size: 20px; font-style: bold; font-style: italic;">
	Did you get paid for those recommendations?</br>
	</p>

	<p style="font-size: 15px"> 	
		Word of mouth marketing is precisely why network marketing works in your circle of influence.</br>
	</p>
		
	<p style="font-size: 20px; font-style: bold; font-style: italic;">
	You already do it! You just don’t get paid.
	</p>

	<p style="font-size: 15px">
	Now if you could monetize your circle of influence and grow beyond it, you would profit nicely from things you already do!
	</p>
</div>

<div class="parallax2" style="margin-bottom: -50px"></div>


<div class="container-fluid bg-grey" style="padding: 100px">
  <div class="row">
    <div class="col-sm-4">
      <div class="glyphicon glyphicon-globe logo slideanim slide"></div>
    </div>
    <div class="col-sm-6">
      <h2 style="font-size: 20px; text-align: center">
      	Contact the person who introduced you to this.</br>
      	<i style="font-size: 25px">Let's get started</i> </br></br>
      	<%= link_to new_client_path, class: 'btn-large btn-block btn btn-warning' do %>
				  SIGN UP
		<% end %>
      </h2><br>
    
    </div>
  </div>
</div>

