
<div class="container">

			<div style=" text-align: center; max-width: 50%">

			<h2>MoneyCalls</h2>
			<hr>

			<p>What's up <%= @client.first_name %> :)</p>



			<p>
			Welcome to MoneyCalls! </br></br></br>

			To get started...</br></br></br>


			Click on the link below to activate your account:
			</p>

			

			<%= link_to "Activate my account", edit_account_activation_url(@client.activation_token,
			                                                    email: @client.email) %>
			</br>
			</br>
			</br>

			Kind Regards, </br>
			MoneyCalls Service Desk
				
			</div>	                                                    
		
</div>