// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}

canvas {
    background-color: #000;
    position: absolute;
	z-index: -1;
}

.everything {
	position: fixed;
	z-index: 10;
	text-align: center;
	margin: 0 auto;
    width: 20%; /* Set your desired with */
    top: 80%;
    left: 50%;
    margin-top: -10%; /* Changes with height. */
    margin-left: -10%;
    
}

#heading {
	position: fixed;
	margin: 0 auto;
	font-size: 5.5em;
	color: rgb(25, 255, 25);
	text-align: center;
	z-index: 11;
    width: 30%; /* Set your desired with */
    top: 60%;
    left: 45%;
    margin-top: -10%; /* Changes with height. */
    margin-left: -10%;    		
}
