// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

*{
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html, body {
    margin: 0 auto;
    padding: 0;
    overflow: auto;
}



i {
    font-style: italic;
}

.jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.2;
    color: #fff;
    background: #000 url("https://bootstrapcreative.com/wp-bc/wp-content/uploads/2017/03/learning-story.png") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
  
  
  position:absolute;
  top:0;left:0;
  z-index:1;
}
.jumbotron {position:relative;padding:50px;}
.jumbotron .container {z-index:2;
 position:relative;
  z-index:2;
}


.bg-grey {
    background-color: #f6f6f6;
}

.container-fluid {
    padding: 50px;
}



.glyphicon {  
      font-size: 150px;
      margin-bottom: 20px;
      color: rgb(255, 160, 0);
}



  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }

  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
        text-align: center;
    }
  }

  .parallax { 
    opacity: 0.6;
    /* The image used */
    background-image: url("https://www.networktrading.it/wp-content/uploads/2016/03/stocastico.jpg");

    /* Set a specific height */
    height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .parallax2 { 
    opacity: 0.6;
    /* The image used */
    background-image: url("http://www.foranyinfo.com/wp-content/uploads/2016/11/creating_duplication_in_your_network_marketing_business.jpg");

    /* Set a specific height */
    height: 250px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

  .slideanim {visibility:hidden;}

  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 2s;
      -webkit-animation-duration: 2s;
      visibility: visible;
  }

  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }